# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Frontend Configuration
VITE_API_URL=http://localhost:8000/api/v1

# URLs
MAIN_PDF_URL=https://www.ompec.ru/upload/iblock/631/qf4u735ajpjw8yutgweal6ikyi87evol.pdf
CHANGES_PAGE_URL=https://www.ompec.ru/student/uchebnaya-deyatelnost/izmeneniya-v-raspisanii.php

# Intervals
REFRESH_INTERVAL=1
RETRY_INTERVAL=40

# Date settings
SEMESTER_START=2026-01-12

# Database & Redis
DATABASE_URL=sqlite+aiosqlite:///./database.db
REDIS_PASSWORD=ompek_password
REDIS_PORT=6380
REDIS_URL=redis://:ompek_password@localhost:6380

# Logging
LOG_LEVEL=INFO
LOG_ROTATION=10 MB
LOG_RETENTION=10 days

VITE_HOST=0.0.0.0
VITE_PORT=3000
